{{outlet}}
<h1>Tasks</h1>
{{#each model as |task|}}
  <div class="well">
    <h3 style="display:inline-block;">{{#link-to 'tasks.edit' task.id}}{{task.title}}{{/link-to}}</h3>
    <small style="display:inline-block; float:right"> Due: {{task.date}}</small>
    <p>{{task.description}}</p>
    <button {{action 'deleteTask' task.id}} class="btn btn-danger">Delete</button>
  </div>
{{/each}}
